.header{
	background-color: black;
	color: pink;
	border: 1px solid black;
  	outline-style: solid;
  	outline-color: yellow;
  	outline-width: medium;
  	text-align: center;

}

div.MainPart{
	background-color:black;
	width: 30%;
	height: auto;
	text-align: center;
	border: 5px solid;
	border-color: yellow;
	border-radius: 5px;
	margin: auto;
	font-size:30px;
	padding: auto;

}


body{
	background-color: peachpuff;
}

div.Image img{
	height: 300px;
	width: 300px;
	float: left;
	border: 5px solid black;
	margin: 20px;
	cursor: pointer;
}

#SigmaEssentials{
	text-align: center;
	font-size: 40px;
}

li{
	font-size: 50px;
}


